/* .logo {
  flex-shrink: 0;
}

.logo-image {
  width: 180px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .logo-image {
    max-width: 150px;
  }
} */
