.right-side-card {
  padding: 20px;
  border: 2px solid #f44366;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box shadow */
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  height: 100%; /* Ensure it takes full height of the parent */
}

.right-side-card:hover {
  box-shadow: 0 0 20px rgba(244, 67, 102, 0.8); /* Glowing effect on hover */
}

.right-side-card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.right-side-card p {
  margin-bottom: 10px;
}

.right-side-card h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.right-side-card .add-to-cart {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
}

.right-side-card .add-to-cart:hover {
  background-color: #f44336;
  color: #fff;
  border: none;
}

.right-side-card .features-list {
  list-style: none;
  padding: 0;
}

.right-side-card .features-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.right-side-card .more-details {
  color: #f44336;
  text-decoration: none;
  font-weight: bold;
}
